body {
    font-family: Arial, sans-serif;
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(6, 6, 86, 1) 31%, rgba(49, 49, 112, 1) 64%, rgba(64, 134, 148, 1) 88%);
}

.form-container {
    background: #000000;
    max-width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    color: #fefefe;
}

/*nav */
.nav_menu {
    background-color: #000000;
    box-shadow: 0 2px 8px rgb(255, 255, 255);
    padding: 20px 40px;
    color: #fefefe;
}

.nav_links {
    list-style: none; /* elimina las viñetas */
    display: flex;
    justify-content: center; 
    gap: 40px; /* espacio entre elementos */
    margin: 0;
    padding: 0;
}

.nav_links li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
    padding: 8px 12px;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.hidden {
    display: none;
}

button {
    background: #3498db;
    color: #fff;
    padding: 12px;
    border: none;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #2980b9;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}
