<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acerca de</title>
    <link rel="stylesheet" href="/css/acercade.css" />
</head>
<body>

    <nav class="nav_menu">
        <ul class="nav_links">
            <li><a th:href="@{/}">Inicio</a></li>
            <li><a th:href="@{/acercade}">Acerca de</a></li>
            <li><a th:href="@{/centrosdeportivos}">Centros Deportivos</a></li>
            <li><a th:href="@{/info}">Info</a></li>
            <li><a th:href="@{/mapa}">Mapa</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/registro}">Registro</a></li>
        </ul>
    </nav>

    <main class="acerca-section">
        <h2>Acerca de E.V.A</h2
        <p>
            E.V.A (Entrenamiento Voluntario Activo) es una plataforma diseñada para conectar
            a las personas con centros deportivos, actividades saludables y un estilo de vida activo lo s esperamos .
        </p>
        <p>
            Aquí podrás encontrar información sobre centros deportivos, actividades recomendadas,
            y la posibilidad de registrarte para acceder a más beneficios.
        </p>
    </main>

</body>
</html>
