<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Centros Deportivos</title>

    <link rel="stylesheet" href="/css/centrodeportivo.css" />
</head>

<body>

<nav class="nav_menu">
    <ul class="nav_links">
        <li><a th:href="@{/}">Inicio</a></li>
        <li><a th:href="@{/acercade}">Acerca de</a></li>
        <li><a th:href="@{/centrosdeportivos}">Centros deportivos</a></li>
        <li><a th:href="@{/centrosdeportivos/usuario/mis-inscripciones}">Mis inscripciones</a></li>
        <li><a th:href="@{/login}">Login</a></li>
    </ul>
</nav>

<main class="centros-container">

    <h2>Centros Deportivos Disponibles</h2>

    <section class="card-container" th:each="centro : ${centros}">
        <article class="card">

            <img src="/images/centro-norte.jpg" alt="Centro Deportivo" />

            <h2 th:text="${centro.nombre}"></h2>

            <p><strong>Ubicación:</strong> <span th:text="${centro.direccion}"></span></p>
            <p><strong>Horarios:</strong> 
                <span th:text="${centro.apertura}"></span> - 
                <span th:text="${centro.cierre}"></span>
            </p>
            <p><strong>Teléfono:</strong> <span th:text="${centro.telefono}"></span></p>

            <!-- INSCRIBIR -->
            <form th:action="@{'/centrosdeportivos/inscribirme/' + ${centro.rut}}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit">Inscribirme</button>
            </form>

        </article>
    </section>

</main>

</body>
</html>