<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información - E.V.A</title>
    <link rel="stylesheet" th:href="@{/css/info.css}" />
</head>
<body>

    <nav class="nav_menu">
        <ul class="nav_links">
            <li><a th:href="@{/}">Inicio</a></li>
            <li><a th:href="@{/acercade}">Acerca de</a></li>
            <li><a th:href="@{/centrosdeportivos}">Centros deportivos</a></li>
            <li><a th:href="@{/info}">Info</a></li>
        </ul>
    </nav>

    <main class="info-section">
        <h1>Información útil</h1>

        <section>
            <h2>¿Cómo funciona E.V.A?</h2>
            <p>
                Nuestra plataforma permite a los usuarios buscar centros deportivos, zonas deportivas, parques etc, todo esto por medio de un mapa el cual brindara la ubicacion de estos lugares.
            </p>
        </section>

        <section>
            <h2>Opiniones</h2>
            <p><strong>¿Necesito experiencia previa para participar?</strong><br>
            No, cualquier persona puede unirse como voluntario o usuario sin experiencia previa.</p>

            <p><strong>¿Como puedo entrar a E.V.A?</strong><br>
            Facil en nuestra pagina hay diefrentes botonoes los cuales te redirigen a login o a registrarte donde conoceras E.V.A mas a fondo.</p>
        </section>

        <section>
            <h2>Contacto</h2>
            <p>📧 Correo:senatareasetc@gmail.com</p>
            <p>📞 Teléfono: +57 3118445811</p>
        </section>
    </main>

</body>
</html>

