<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/inscripcion_exitosa.css}" />
    <title>Inscripción Exitosa</title>
</head>
<body>

<div class="container">
    <h1>¡Te has inscrito correctamente!</h1>

    <p th:text="'Centro: ' + ${centro.nombre}"></p>
    <p>Estado: Postulante</p>

    <a th:href="@{/centrosdeportivos}">Volver a la lista de centros</a>
    <a th:href="@{/centrosdeportivos/usuario/mis-inscripciones}">Ver mis inscripciones</a>
</div>

</body>
</html>