<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/perfilusuario.css">
</head>
<body>

    <nav class="nav_menu">
    <ul class="nav_links">
        <li><a th:href="@{/}">Inicio</a></li>
        <li><a th:href="@{/acercade}">Acerca de</a></li>
        <li><a th:href="@{/centrosdeportivos}">Centros deportivos</a></li>
        <li><a th:href="@{/info}">Info</a></li>
        <li><a th:href=@{/centrosdeportivos/mapa}>Mapa</a></li>
        <li><a th:href="@{/login}">Login</a></li>
        <li><a th:href="@{/registro}">Registro</a></li>
    </ul>
    </nav>

    <div class="perfil-container text-center">

 <img 
    th:src="${usuarioLogueado.foto != null ? usuarioLogueado.foto : 'https://via.placeholder.com/40'}"
    alt="Perfil"
    style="
        width:40px;
        height:40px;
        border-radius:50%;
        object-fit:cover;
        border:2px solid white;
        cursor:pointer;
    ">
    <h2 th:text="${usuario.nombre}"></h2>

    <p>Correo: <span th:text="${usuario.correo}"></span></p>
    <p>Dirección: <span th:text="${usuario.direccion}"></span></p>

    <hr>

    <h4>Información adicional</h4>

    <p>Edad: <span th:text="${usuario.edad}"></span></p>
    <p>Ocupación: <span th:text="${usuario.ocupacion}"></span></p>
    <p>Intereses: <span th:text="${usuario.intereses}"></span></p>

    <br>

    <a href="/perfil/editar" class="btn btn-warning">Editar perfil</a>
  <form th:action="@{/logout}" method="post">
    <button type="submit" class="btn btn-danger">Cerrar sesión</button>
</form>

</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>fv
